bin/
obj/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dll
*.pdb
*.exe
*.log
*.vsix
*.nupkg
packages/
.nuget/
Migrations/*.Designer.cs
*.mdf
*.ldf
appsettings.Development.json
appsettings.*.Local.json
*.key
*.pfx
*.dotCover
*.dotSettings.user
*.cache
*.db
*.bak
node_modules/
*.tmp
*.temp